body {
    background-color: rgb(255, 208, 0);
    display: flexbox;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    text-decoration: dashed;
    margin-top: 15px;
    color: white;
    position: relative;
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.container {
    background-color: rgb(151, 151, 137);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 350px;
    border-radius: 25px;
    border: black 2px solid;
}

.visor {
    top: 0%;
    left: 0%;
    margin-left: 25px;
    margin-top: 25px;
    position:absolute;
    background-color: rgb(70, 134, 70);
    border-radius: 12.5px;
    width: 300px;
    height: 100px;
    border: black 2px solid;
}

.result {
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    right: 0%;
    top: 50%;
    bottom: 100%;
    position: absolute;
    padding: 55px;
    font-size: 2px;
    margin-top: 12.5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 10px;
    -webkit-appearance:none
}

#resultado {
    font-family: 'Press Start 2P', cursive;
    color:black;
    position: absolute;
    font-size: 30px;
    width: 250px;
    top: 20%;
    left: 2%;
    -webkit-appearance:none;
    padding:15px;
    background-color: rgb(70, 134, 70);
}

#buttonv {
    position: absolute;
    height: 63px;
    width: 63px;
    margin: 25px;
    border-radius: 50%;    
    bottom: 0%;
}

#bvir{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676    
}

#button0 {
    position: absolute;
    height: 63px;
    width: 63px;
    margin: 25px;
    left: 25%;
    bottom: 0%;
}

#b0 {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676
}

#button1 {
    position: absolute;
    height: 63px;
    width: 63px;
    margin: 25px;
    bottom: 15%;
}

#b1 {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676
}

#button2 {
    position: absolute;
    height: 63px;
    width: 63px;
    margin: 25px;
    bottom: 15%;
    left: 25%;
}

#b2 {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676
}

#button3 {
    position: absolute;
    height: 63px;
    width: 63px;
    margin: 25px;
    bottom: 15%;
    left: 50%;
}

#b3 {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676
}

#button4 {
    position: absolute;
    height: 63px;
    width: 63px;
    margin: 25px;
    bottom: 30%;
}

#b4 {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676
}

#button5 {
    position: absolute;
    height: 63px;
    width: 63px;
    margin: 25px;
    bottom: 30%;
    left: 25%;
}

#b5 {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676
}

#button6 {
    position: absolute;
    height: 63px;
    width: 63px;
    margin: 25px;
    bottom: 30%;
    left: 50%;
}

#b6 {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676
}

#button7 {
    position: absolute;
    height: 63px;
    width: 63px;
    margin: 25px;
    bottom: 45%;
}

#b7 {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676
}

#button8 {
    position: absolute;
    height: 63px;
    width: 63px;
    margin: 25px;
    bottom: 45%;
    left: 25%;
}

#b8 {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676
}

#button9 {
    position: absolute;
    height: 63px;
    width: 63px;
    margin: 25px;
    bottom: 45%;
    left: 50%;
}

#b9 {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 63px;
    border-radius: 50%;
    color: black;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676
}

#buttondiv {
    position: absolute;
    height: 63px;
    width: 55px;
    margin: 25px;
    bottom: 0%;
    left: 72%;    
}

#bdiv {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 55px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676   
}

#buttonx {
    position: absolute;
    height: 63px;
    width: 55px;
    margin: 25px;
    bottom: 15%;
    left: 72%;    
}

#bx {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 55px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676   
}

#buttonmin {
    position: absolute;
    height: 63px;
    width: 55px;
    margin: 25px;
    bottom: 30%;
    left: 72%;    
}

#bmin {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 55px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676   
}

#buttonplus {
    position: absolute;
    height: 63px;
    width: 55px;
    margin: 25px;
    bottom: 45%;
    left: 72%;    
}

#bplus {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 55px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676   
}

#buttonresult {
    position: absolute;
    height: 63px;
    width: 55px;
    margin: 25px;
    left: 50%;
    bottom: 0%;
}

#butres {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 63px;
    width: 55px;
    border-radius: 50%;
    color: black;
    background-color: rgb(241, 126, 85);
    font-size: 25px;
    box-shadow: 3px 3px 3px #7c7676  
}